/* Navbar */
.navbar {
	background-color: black;
}

.navbar-brand {
	color: gold;
	letter-spacing: .25em;
	font-family: 'Aboreto';
}

.nav-item a {
	font-family: 'Amita';
}

.navbar-toggler {
	background-color: white;
}

.navbar-toggler-icon {
	color: grey;
}

.dropdown-item {
	font-family: 'Amita';
}

/* carousel */
.main-img {
	height: 50vw;
}

.carousel-text {
	text-align: center;
}

/* greeting-section */
.greeting-sub-container{
	position:absolute;
	z-index: 10;
	background-color: black;
	margin-top: -36%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	color: white;
	opacity: .75;
	animation: greeting-sub-container 3s;
}

@keyframes greeting-sub-container {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }

.greeting-sub-container h3 {
	font-size: 2vw;
	font-family: 'Aboreto';
}
.greeting-container{
	position:absolute;
	z-index: 10;
	background-color: black;
	margin-top: -30%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	color: white;
	opacity: .75;
	animation: greeting-container 3s;
}

@keyframes greeting-container {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }

.greeting-container h1 {
	font-size: 4vw;
	font-family: 'Aboreto';
}

/* hours */
.hours-container {
	background-color: black;
	margin-top: 3%;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 12px;
	color: white;
}

.hours-container p {
	text-align: center;
	font-size: 1.5vw;
	padding: 15px;
	font-weight: bold;
	font-family: 'Aboreto';
}

.hours-sub-container {
	background-color: black;
	margin-top: 1%;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 12px;
	color: white;
}

.hours-sub-container p {
	text-align: center;
	font-size: 1vw;
	font-family: 'Aboreto';
	padding: 10px;
	font-weight: bold;
}

/* about */
.about-menu-header {
	font-family: 'Aboreto';
}

.about-img {
	border-radius: 12px;
}

/* socials */
.social-media-icons {
	margin-top: 5%;
	text-align: center;
	word-spacing: 20px;
	cursor: pointer;
}

/* footer */
.footer-container {
	background-color: black;
	width: 100%;
	border-radius: 12px;
}

.footer-header {
	font-family: 'Aboreto';
	color: white;
}

.footer-header-bistro {
	font-size: 3vw;
	color: gold;
	font-family: 'Aboreto';
}

.date {
	color: white;
	font-family: 'Amita';
}

.review-paragraph {
	color: white;
	font-family: 'Amita';
}

hr {
	color: white;
}

/* Dinner Page */

/* Dinner header image */
.dinner-header-img {
	width: 100vw;
	height: 50vw;
}

.dinner-greeting {
	padding: 50px;
}

.dinner-greeting h1 {
	font-family: 'Aboreto';
}

.dinner-greeting p {
	margin-top: 3%;
	color: grey;
	font-family: 'Amita';
}

.line {
	margin-top: 5%;
}

.dinner-item-header {
	margin-top: 5%;
	text-align: center;
	text-decoration: underline;
	font-family: 'Aboreto';
}

.dinner-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1.5em;
	font-family: 'Aboreto';
	color: black;
}

.dinner-menu {
	font-size: 14px;
}

.dinner-menu-group-heading {
	margin:0;
	padding-bottom: 1em;
}

.dinner-menu-group {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5em;
	padding: 1.5em 0;
}

.dinner-menu-item {
	display: flex;
}

.dinner-menu-item-text {
	flex-grow: 1;
}

.dinner-menu-item-text p {
	font-family: 'Amita';
	color: grey;
}

.dinner-menu-item-heading {
	display: flex;
	justify-content: space-between;
}


@media screen and (min-width: 992px) {
	.dinner-menu {
		font-size: 16px;
	}

	.dinner-menu-group {
		grid-template-columns: repeat(1, 1fr);
	}
}
