* {
	margin:0;
}

/* Navbar */
.app__navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	padding: 1rem 2rem;
}

.app__navbar-logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: 'Aboreto', cursive;
	font-weight: bold;
	color: white;
}

.app__navbar-links {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.app__navbar-links li {
	margin: 0 1rem;
	cursor: pointer;
}

.app__navbar-login {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.app__navbar-login a {
	margin: 0 1rem;
	text-decoration: none;
	transition: 0.5s ease;
}

.app__navbar-login a:hover {
	border-bottom: 1px solid gold;
}

.app__navbar-login div {
	width: 1px;
	height: 30px;
	background-color: grey;
}

.app__navbar-smallscreen {
	display: none;
}

.app__navbar-smallscreen_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: black;
	transition: .5s ease;
	flex-direction: column;
	z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close {
	font-size: 27px;
	color: gold;
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 20px;
}


/* Media queries */
@media screen and (max-width: 2000px) {
	.app__navbar-logo {
		width: 210px;	
	}
}

@media screen and (max-width: 1150px) {
	.app__navbar-links {
		display: none;
	}

	.app__navbar-smallscreen {
		display: flex;
	}
}

@media screen and (max-width: 650px) {
	.app__navbar {
		padding: 1rem;
	}

	.app__navbar-login {
		display: none;
	}

	.app__navbar-logo {
		width: 110px;
	}
}

.p__opensans {
	margin-top: 100px;
	text-decoration: none;
	color: white;
	text-align: center;
	list-style:none;
}


.p__opensans:hover {
	color: grey;
}

.p__opensans a {
	color: white;
	text-decoration: none;
}

.p__opensans a:hover {
	color: grey;
}
