{% extends 'bistro_milliards/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Bistro Milliard: Contact Us</title>

<!-- css -->
<link rel='stylesheet' href="{% static 'bistro_milliards/css/styles.css'%}">

<!-- bootstrap -->
{% bootstrap_css %}

<!-- google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Amita&family=La+Belle+Aurore&display=swap" rel="stylesheet">

</head>
<body>
  <!-- Carousel -->
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <img src="{% static 'bistro_milliards/img/millispread11.webp'%}" class="main-img d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
    <img src="{% static 'bistro_milliards/img/millitapas2.webp' %}" class="main-img d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
    <img src="{% static 'bistro_milliards/img/millivitellosolo.webp' %}" class="main-img d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>

  <!-- Greeting -->
  <div class='greeting-container'>
    <h1>Contact Us</h1>
  </div>

   <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom"></h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <div>
          <h2 class='about-menu-header'>Contact Us</h2>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
        </div>
        <div>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2856.2208243953696!2d-69.79051!3d44.284847299999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb206ee08fe5ccb%3A0x87d1a1f1a4d60fb9!2s167%20Water%20St%2C%20Hallowell%2C%20ME%2004347!5e0!3m2!1sen!2sus!4v1676215561804!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
 <div class="footer-container container-fluid">   
      <div class="row">
          <div class="col-lg-3">
            <h1 class='footer-header'>Contact Us</h1>
	    <a class='footer-paragraph' href='tel:1-207-213-6479'>(207) 213-6479</a>
	    <p class='footer-paragraph'>167 Water st Hallowell, ME 04347</p>
	    <p class='footer-paragraph'>Like Us On Facebook</p>
	    <i class="icons fa-brands fa-facebook fa-2x" style='color: white;'></i>
        </div>
          <div class="col-lg-3">
            <h1 class='footer-header'>Customer Reviews</h1>
	    <p class='footer-paragraph'>Excellent place to go for dinner. Excellent food,service. Enjoy going each time go. I have never had a bad meal. We are going again in November with a group of friends</p>
	    <p class='footer-paragraph'>-Frankie J ⭐⭐⭐⭐⭐</p>
        </div>
          <div class="col-lg-3">
            <h1 class='footer-header'>Opening Hours</h1>
	    <ul class='footer-hours'>
	       <li class='footer-items'>Monday Closed</li>
	       <li class='footer-items'>Tuesday 5:00pm-10:00pm</li>
	       <li class='footer-items'>Wednesday 5:00pm-10:00pm</li>
	       <li class='footer-items'>Thursday 5:00pm-10:00pm</li>
	       <li class='footer-items'>Friday 5:00pm-10:00pm</li>
	       <li class='footer-items'>Saturday 5:00pm-10:00pm</li>
	       <li class='footer-items'>Sunday 5:00pm-10:00pm</li>
	    </ul>
        </div>
          <div class="col-lg-3">
          <h5 class='footer-header'>BISTRO MILLIARD</h5>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2856.2208243953696!2d-69.79051!3d44.284847299999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb206ee08fe5ccb%3A0x87d1a1f1a4d60fb9!2s167%20Water%20St%2C%20Hallowell%2C%20ME%2004347!5e0!3m2!1sen!2sus!4v1676215561804!5m2!1sen!2sus" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
     </div>
</div>


</body>

<script src="{% static 'bistro_milliards/js/index.js'%}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/3ff46289c8.js" crossorigin="anonymous"></script>

</html>

{% endblock content %}
